img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 15px;
  border-radius: 25px;
}

h1{
  border-radius: 25px;
  text-align: center;
  font-family: 'Allura';
  background-color: #c9fdff;
  margin: 30px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 10px;
  padding-top: 20px;
  padding: 10px;
}


.pictures {
  display: flex;
  justify-content: center;
}

.collection {
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 30px;
  margin-left: 120px;
  margin-right: 120px;
  background-color: #c9ffed;
}

@media screen and (max-width: 1250px) {
  img{
    height: 240px;
    width: 240px;
  }
}

@media screen and (max-width: 1000px) {
  img{
    height: 180px;
    width: 180px;
    padding: 10px;
  }
}

@media screen and (max-width: 850px){
  img{
    height: 100px;
    width: 100px;
    padding: 5px;
  }
  h1{
    margin-left: 50px;
    margin-right: 50px;
  }
  .collection{
    margin-left: 50px;
    margin-right: 50px;
  }
}
